<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
    192.168.1.225 = wdc-devprsql
    192.168.0.122 = wdc-prsql
    192.168.1.149 = wdc-devsql1   Test Webserver
    172.16.5.49 =                 Live Webserver
-->

  <connectionStrings xdt:Transform="Replace">
    <add name="WSOnlineConnectionString" connectionString="Data Source=192.168.1.149;Initial Catalog=OnlineApplications;Integrated Security=False;user id=OnlineServices;password=Whanganui101" providerName="System.Data.SqlClient" />
    <add name="PROnlineConnectionString" connectionString="Data Source=192.168.1.225;Initial Catalog=OnlineApplications;Integrated Security=False;user id=OnlineServices;password=Whanganui101" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="ConfigName" value="LocalHost"></add>
    <add key="webprotocol" value="http"></add>
    <add key="webserver" value="wdc-devsql1"></add>

    <add key="LIMRequest.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="LIMRequest.emailSubject" value="Land Information Memorandum (LIM) Request"></add>
    <add key="LIMRequest.bodyTemplate" value="body.html"></add>
    <add key="LIMRequest.folder" value="LIM"></add>
    <add key="LIMRequest.form" value="LIMRequest"></add>
    <add key="LIMRequest.submissionpath" value="c:\\inetpub\\onlineSubmissions\\LIMRequest\\"></add>
    <add key="LIMRequest.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/LIMRequest"></add>
    <add key="LIMRequest.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/xxxxx/xxxxxx"></add>

    <add key="FoodBusinessRegistration.emailBCC" value="greg.tichbon@whanganui.govt.nz;ruth.baird@whanganui.govt.nz"></add>
    <add key="FoodBusinessRegistration.emailSubject" value="Food Business Registration"></add>
    <add key="FoodBusinessRegistration.bodyTemplate" value="body.html"></add>
    <add key="FoodBusinessRegistration.folder" value="FCP"></add>
    <add key="FoodBusinessRegistration.form" value="FoodBusinessRegistration"></add>
    <add key="FoodBusinessRegistration.submissionpath" value="c:\\inetpub\\onlineSubmissions\\FoodBusinessRegistration\\"></add>
    <add key="FoodBusinessRegistration.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/FoodBusinessRegistration"></add>
    <add key="FoodBusinessRegistration.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/xxxxx/xxxxxx"></add>
    
    <add key="MobileShopLicence.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"></add>
    <add key="MobileShopLicence.emailSubject" value="Mobile Shop Licence Application"></add>
    <add key="MobileShopLicence.bodyTemplate" value="body.html"></add>
    <add key="MobileShopLicence.folder" value="MobileShopLicence"></add>
    <add key="MobileShopLicence.form" value="MobileShopLicence"></add>
    <add key="MobileShopLicence.submissionpath" value="c:\\inetpub\\onlineSubmissions\\MobileShopLicence\\"></add>
    <add key="MobileShopLicence.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/MobileShopLicence"></add>
    <add key="MobileShopLicence.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"></add>

    <add key="HealthPremiseRegistration.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"></add>
    <add key="HealthPremiseRegistration.emailSubject" value="Health Premise Registration"></add>
    <add key="HealthPremiseRegistration.bodyTemplate" value="body.html"></add>
    <add key="HealthPremiseRegistration.folder" value="HealthPremiseRegistration"></add>
    <add key="HealthPremiseRegistration.form" value="HealthPremiseRegistration"></add>
    <add key="HealthPremiseRegistration.submissionpath" value="c:\\InetPub\\inetpub\\onlineSubmissions\\HealthPremiseRegistration\\"></add>
    <add key="HealthPremiseRegistration.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"></add>

    <add key="MarketFoodStallLicence.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"></add>
    <add key="MarketFoodStallLicence.emailSubject" value="Market Food Stall Licence"></add>
    <add key="MarketFoodStallLicence.bodyTemplate" value="body.html"></add>
    <add key="MarketFoodStallLicence.folder" value="MarketFoodStallLicence"></add>
    <add key="MarketFoodStallLicence.form" value="MarketFoodStallLicence"></add>
    <add key="MarketFoodStallLicence.submissionpath" value="c:\\InetPub\\inetpub\\onlineSubmissions\\MarketFoodStallLicence\\"></add>
    <add key="MarketFoodStallLicence.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/MarketFoodStallLicence"></add>
    <add key="MarketFoodStallLicence.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"></add>
 
    <add key="ApplicationPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"></add>
    <add key="SundryDebtorPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="WaterPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>

    <add key="ApplicationPayment.emailSubject" value="Application Payment"></add>
    <add key="SundryDebtorPayment.emailSubject" value="Sundry Debtors Payment"></add>
    <add key="WaterPayment.emailSubject" value="Water Payment"></add>

    <add key="CommunityContracts.submissionperiod" value="2016"></add>

    <add key="CommunityContractsGroupDetails.emailBCC" value="greg.tichbon@whanganui.govt.nz;Lauren.Tamehana@whanganui.govt.nz"></add>
    <add key="CommunityContractsGroupDetails.emailSubject" value="Community Contracts - Group Details"></add>
    <add key="CommunityContractsGroupDetails.bodyTemplate" value="GroupDetailsbody.html"></add>
    <add key="CommunityContractsGroupDetails.submissionpath" value="c:\\InetPub\\inetpub\\onlineSubmissions\\CommunityContract\\GroupDetails\\"></add>
    <add key="CommunityContractsGroupDetails.submissionurl" value="/onlineTEST/onlinesubmissions/CommunityContract/GroupDetails"></add>

    <add key="CommunityContractsApplication.emailBCC" value="greg.tichbon@whanganui.govt.nz;Lauren.Tamehana@whanganui.govt.nz"></add>
    <add key="CommunityContractsApplication.emailSubject" value="Community Contracts - Application"></add>
    <add key="CommunityContractsApplication.bodyTemplate" value="Applicationbody.html"></add>
    <add key="CommunityContractsApplication.submissionpath" value="c:\\InetPub\\inetpub\\onlineSubmissions\\CommunityContract\\Application\\"></add>
    <add key="CommunityContractsApplication.submissionurl" value="/onlineTEST/onlinesubmissions/CommunityContract/Application"></add>

    <add key="3DPrintingRequest.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="3DPrintingRequest.emailSubject" value="3DPrinting Request"></add>
    <add key="3DPrintingRequest.bodyTemplate" value="body.html"></add>
    <add key="3DPrintingRequest.folder" value="3DPrinting"></add>
    <add key="3DPrintingRequest.form" value="3DPrinting"></add>

    <add key="FireSafetyReferral.emailaddress" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="FireSafetyReferral.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add> 
    <add key="FireSafetyReferral.emailSubject" value="Fire Safety Referral"></add>
    <add key="FireSafetyReferral.submissionpath" value="c:\\InetPub\\inetpub\\onlineSubmissions\\FireSafetyReferral\\Application\\"></add>

    <add key="WMCBooking.emailBCC" value="greg.tichbon@whanganui.govt.nz;warmemorialcentre@whanganui.govt.nz"></add>
    <add key="WMCBooking.emailSubject" value="War Memorial Centre - Booking"></add>
    <add key="WMCBooking.bodyTemplate" value="Applicationbody.html"></add>
    <add key="WMCBooking.submissionpath" value="c:\\inetpub\\onlineSubmissions\\WMC\\Booking\\"></add>
    <add key="WMCBooking.submissionurl" value="/onlineTEST/onlinesubmissions/WMC/Booking"></add>

    <add key="Logfile.Location" value="\\\\local\\systemdatadfs$\\redirected\\gregt\\my documents\\visual studio 2013\\Projects\\Online\\Online\\Logs\\log.txt"></add>

  </appSettings>

  <system.web xdt:Transform="Replace">
    <globalization culture="en-NZ" uiCulture="en"/>
    <httpRuntime maxRequestLength="102400" targetFramework="4.5" />

    <compilation debug="false" targetFramework="4.5" />
    <customErrors mode="Off"/>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.webServer xdt:Transform="Replace">
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>