<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConfigName" value="Web.config"></add>
  </appSettings>
  
  <system.web>
    <globalization culture="en-NZ" uiCulture="en"/>

    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off"/>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>

  </system.web>
  <connectionStrings>
  <!--<add name="HFConnectionString" connectionString="Data Source=toh-app;Initial Catalog=TOIHA;Integrated Security=False;user id=OnlineServices;password=Whanganui497" providerName="System.Data.SqlClient" />-->
    <add name="HFConnectionString1" connectionString="Data Source=Greg-AcerLaptop\SQLExpress;Initial Catalog=TOIHA;Integrated Security=False;user id=OnlineServices;password=Whanganui497" providerName="System.Data.SqlClient" />
    <add name="HFConnectionString" connectionString="Server=.\SQLExpress;Database=TOIHA;User Id=OnlineServices;Password=Whanganui497;" />
  </connectionStrings>

  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>

</configuration>
