<?xml version="1.0"?>
<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
  <!--
    192.168.1.225 = wdc-devprsql
    192.168.0.122 = wdc-prsql  - NO LONGER USED
    192.168.0.207 = wdc-prsql1    
    192.168.1.149 = wdc-devsql1   Test Webserver
    172.16.5.49 =                 Live Webserver
-->
  <connectionStrings>
    <add name="WSOnlineConnectionString" connectionString="Data Source=192.168.1.149;Initial Catalog=OnlineApplications;Integrated Security=False;user id=OnlineServices;password=Whanganui101"
      providerName="System.Data.SqlClient" />
    <add name="PROnlineConnectionString" connectionString="Data Source=192.168.0.204;Initial Catalog=OnlineApplications;Integrated Security=False;user id=OnlineServices;password=Whanganui101"
      providerName="System.Data.SqlClient" />
    <add name="CemeteryBusinessConnectionString" connectionString="Data Source=172.16.5.49;Initial Catalog=Cemeteries;Integrated Security=False;user id=OnlineServices;password=Whanganui101"
      providerName="System.Data.SqlClient" />
    <add name="CemeteryArchiveConnectionString" connectionString="Data Source=172.16.5.49;Initial Catalog=PublicCemeteries;Integrated Security=False;user id=OnlineServices;password=Whanganui101"
      providerName="System.Data.SqlClient" />
    <add name="OnlineServicesProProdConnectionString" connectionString="Data Source=192.168.0.207;Initial Catalog=OnlineServices;Persist Security Info=True;User ID=OnlineServices;Password=Whanganui101"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ConfigName" value="LocalHost"/>
    <add key="webprotocol" value="http"/>
    <add key="webserver" value="localhost:21328/"/>
    <add key="hubbleurl" value="http://hubbletest.wanganui.govt.nz/"/>
    <add key="LIMRequest.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="LIMRequest.emailSubject" value="Land Information Memorandum (LIM) Request"/>
    <add key="LIMRequest.bodyTemplate" value="body.html"/>
    <add key="LIMRequest.folder" value="LIM"/>
    <add key="LIMRequest.form" value="LIMRequest"/>
    <add key="LIMRequest.submissionpath" value="c:\\inetpub\\onlineSubmissions\\LIMRequest\\"/>
    <add key="LIMRequest.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/LIMRequest"/>
    <add key="LIMRequest.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/xxxxx/xxxxxx"/>
    <add key="FoodBusinessRegistration.emailBCC" value="greg.tichbon@whanganui.govt.nz;ruth.baird@whanganui.govt.nz"/>
    <add key="FoodBusinessRegistration.emailSubject" value="Food Business Registration"/>
    <add key="FoodBusinessRegistration.bodyTemplate" value="body.html"/>
    <add key="FoodBusinessRegistration.folder" value="FCP"/>
    <add key="FoodBusinessRegistration.form" value="FoodBusinessRegistration"/>
    <add key="FoodBusinessRegistration.submissionpath" value="c:\\inetpub\\onlineSubmissions\\FoodBusinessRegistration\\"/>
    <add key="FoodBusinessRegistration.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/FoodBusinessRegistration"/>
    <add key="FoodBusinessRegistration.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/xxxxx/xxxxxx"/>
    <add key="MobileShopLicence.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"/>
    <add key="MobileShopLicence.emailSubject" value="Mobile Shop Licence Application"/>
    <add key="MobileShopLicence.bodyTemplate" value="body.html"/>
    <add key="MobileShopLicence.folder" value="MobileShopLicence"/>
    <add key="MobileShopLicence.form" value="MobileShopLicence"/>
    <add key="MobileShopLicence.submissionpath" value="c:\\inetpub\\onlineSubmissions\\MobileShopLicence\\"/>
    <add key="MobileShopLicence.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/MobileShopLicence"/>
    <add key="MobileShopLicence.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"/>
    <add key="HealthPremiseRegistration.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"/>
    <add key="HealthPremiseRegistration.emailSubject" value="Health Premise Registration"/>
    <add key="HealthPremiseRegistration.bodyTemplate" value="body.html"/>
    <add key="HealthPremiseRegistration.folder" value="HealthPremiseRegistration"/>
    <add key="HealthPremiseRegistration.form" value="HealthPremiseRegistration"/>
    <add key="HealthPremiseRegistration.submissionpath" value="c:\\inetpub\\onlineSubmissions\\HealthPremiseRegistration\\"/>
    <add key="HealthPremiseRegistration.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"/>
    <add key="FoodStallLicence.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"/>
    <add key="FoodStallLicence.emailSubject" value=" Food Stall Licence"/>
    <add key="FoodStallLicence.bodyTemplate" value="body.html"/>
    <add key="FoodStallLicence.folder" value="FoodStallLicence"/>
    <add key="FoodStallLicence.form" value="FoodStallLicence"/>
    <add key="FoodStallLicence.submissionpath" value="c:\\inetpub\\onlineSubmissions\\FoodStallLicence\\"/>
    <add key="FoodStallLicence.submissionurl" value="wdc.whanganui.govt.nz/onlineTEST/onlinesubmissions/FoodStallLicence"/>
    <add key="FoodStallLicence.HubbleSiteURL" value="hubbletest.wanganui.govt.nz/site/ehlthapps"/>
    <add key="ApplicationPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz ruth.baird@whanganui.govt.nz"/>
    <add key="SundryDebtorPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="WaterPayment.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="ApplicationPayment.emailSubject" value="Application Payment"/>
    <add key="SundryDebtorPayment.emailSubject" value="Sundry Debtors Payment"/>
    <add key="WaterPayment.emailSubject" value="Water Payment"/>
    <add key="CommunityContracts.submissionperiod" value="2018"/>
    <add key="CommunityContractsGroupDetails.emailBCC" value="greg.tichbon@whanganui.govt.nz;Lauren.Tamehana@whanganui.govt.nz"/>
    <add key="CommunityContractsGroupDetails.emailSubject" value="Community Contracts - Group Details"/>
    <add key="CommunityContractsGroupDetails.bodyTemplate" value="GroupDetailsbody.html"/>
    <add key="CommunityContractsGroupDetails.submissionpath" value="c:\\inetpub\\onlineSubmissions\\CommunityContract\\GroupDetails\\"/>
    <add key="CommunityContractsGroupDetails.submissionurl" value="/onlineTEST/onlinesubmissions/CommunityContract/GroupDetails"/>
    <add key="CommunityContractsApplication.emailBCC" value="greg.tichbon@whanganui.govt.nz;Lauren.Tamehana@whanganui.govt.nz"/>
    <add key="CommunityContractsApplication.emailSubject" value="Community Contracts - Application"/>
    <add key="CommunityContractsApplication.bodyTemplate" value="Applicationbody.html"/>
    <add key="CommunityContractsApplication.submissionpath" value="c:\\inetpub\\onlineSubmissions\\CommunityContract\\Application\\"/>
    <add key="CommunityContractsApplication.submissionurl" value="/onlineTEST/onlinesubmissions/CommunityContract/Application"/>
    <add key="CommunityContractsReport.emailBCC" value="greg.tichbon@whanganui.govt.nz;Lauren.Tamehana@whanganui.govt.nz"/>
    <add key="CommunityContractsReport.emailSubject" value="Community Contracts - Report"/>
    <add key="CommunityContractsReport.submissionpath" value="c:\\inetpub\\onlineSubmissions\\CommunityContract\\Report\\"/>
    <add key="CommunityContractsReport.submissionurl" value="/onlineTEST/onlinesubmissions/CommunityContract/Report"/>
    <add key="3DPrintingRequest.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="3DPrintingRequest.emailSubject" value="3DPrinting Request"/>
    <add key="3DPrintingRequest.bodyTemplate" value="body.html"/>
    <add key="3DPrintingRequest.folder" value="3DPrinting"/>
    <add key="3DPrintingRequest.form" value="3DPrinting"/>
    <add key="FireSafetyReferral.emailaddress" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="FireSafetyReferral.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="FireSafetyReferral.emailSubject" value="Fire Safety Referral"/>
    <add key="FireSafetyReferral.submissionpath" value="c:\\InetPub\\onlineSubmissions\\FireSafetyReferral\\"/>
    <add key="WMCBooking.emailBCC" value="greg.tichbon@whanganui.govt.nz;warmemorialcentre@whanganui.govt.nz"/>
    <add key="WMCBooking.emailSubject" value="War Memorial Centre - Booking Enquiry"/>
    <add key="WMCBooking.bodyTemplate" value="Applicationbody.html"/>
    <add key="WMCBooking.submissionpath" value="c:\\inetpub\\onlineSubmissions\\WMC\\Booking\\"/>
    <add key="WMCBooking.submissionurl" value="/onlineTEST/onlinesubmissions/WMC/Booking"/>
    <add key="WMCFeedback.emailBCC" value="greg.tichbon@whanganui.govt.nz;warmemorialcentre@whanganui.govt.nz"/>
    <add key="WMCFeedback.emailSubject" value="War Memorial Centre - Feedback"/>
    <add key="WMCFeedback.bodyTemplate" value="Applicationbody.html"/>
    <add key="WMCFeedback.submissionpath" value="c:\\inetpub\\onlineSubmissions\\WMC\\Feedback\\"/>
    <add key="WMCFeedback.submissionurl" value="/onlineTEST/onlinesubmissions/WMC/Feedback"/>
    <add key="Cemetery.ImageFolder" value="C:\\InetPub\\Cemetery\\Images\\"/>
    <add key="Cemetery.ImageURL" value="Images/"/>
    <add key="RatesDirectDebit.folder" value="Finance"/>
    <add key="RatesDirectDebit.form" value="DirectDebit"/>
    <add key="RatesDirectDebit.emailBCC" value="greg.tichbon@whanganui.govt.nz;rates@whanganui.govt.nz"/>
    <add key="RatesDirectDebit.emailSubject" value="Rates Direct Debit Application"/>
    <add key="RatesDirectDebit.submissionpath" value="f:\\inetpub\\OnlineTEST\\onlineSubmissions\\Finance\\DirectDebit\\"/>
    <add key="RatesDirectDebit.submissionurl" value="/onlineTEST/onlinesubmissions/Finance/DirectDebit"/>
    
    <add key="VenueFeedback.folder" value="Facilities"/>
    <add key="VenueFeedback.form" value="VenueFeedback"/>
    <add key="VenueFeedback.emailBCC" value="greg.tichbon@whanganui.govt.nz; events@whanganui.govt.nz"/>
    <add key="VenueFeedback.emailSubject" value="Venue Feedback"/>
    <add key="VenueFeedback.submissionpath" value="f:\\inetpub\\OnlineTEST\\onlineSubmissions\\Facilities\\VenueFeedback\\"/>
    <add key="VenueFeedback.submissionurl" value="/onlineTEST/onlinesubmissions/Facilities/VenueFeedback"/>
    
    <add key="FacilityBookingEnquiry.emailBCC" value="greg.tichbon@whanganui.govt.nz; Rachel.O'Connor@whanganui.govt.nz"/>
    <add key="FacilityBookingEnquiry.emailSubject" value="Facility Booking Enquiry Acknowledgment"/>
    <add key="FacilityBookingEnquiry.submissionpath" value="c:\\inetpub\\onlineSubmissions\\FacilityBookingEnquiry\\"/>
    <add key="FacilityBookingEnquiry.submissionurl" value="/onlineTEST/onlinesubmissions/FacilityBookingEnquiry/"/>

    <add key="FacilitiesEnquiryFeedback.emailBCC" value="greg.tichbon@whanganui.govt.nz; events@whanganui.govt.nz" />
    <add key="FacilitiesEnquiryFeedback.emailSubject" value="Facilities Enquiry Feedback" />
    <add key="FacilitiesEnquiryFeedback.submissionpath" value="c:\\inetpub\\onlineSubmissions\\Facilities\\EnquiryFeedback\\" />
    <add key="FacilitiesEnquiryFeedback.submissionurl" value="/onlineTEST/onlinesubmissions/Facilities/EnquiryFeedback" />

    <add key="PolicySubmissions.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="PolicySubmissions.emailSubject" value="Policy Submission Acknowledgment"/>
    <add key="PolicySubmissions.submissionpath" value="c:\\inetpub\\onlineSubmissions\\PolicySubmissions\\"/>
    <add key="PolicySubmissions.submissionurl" value="/onlineTEST/onlinesubmissions/PolicySubmissions/"/>

    <add key="PropertyInformationFeedback.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="PropertyInformationFeedback.emailSubject" value="Property Information Feedback"/>
    <add key="PropertyInformationFeedback.submissionpath" value="c:\\inetpub\\onlinetest\\onlineSubmissions\\PropertyInformationFeedback\\"/>
    <add key="PropertyInformationFeedback.submissionurl" value="/onlineTEST/onlinesubmissions/PropertyInformationFeedback/"/>

    <add key="Appointment.emailBCC" value="greg.tichbon@whanganui.govt.nz"/>
    <add key="Appointment.emailSubject" value="Whanganui District Council Appointment"/>
    <add key="Appointment.submissionpath" value="c:\\inetpub\\onlinetest\\onlineSubmissions\\Appointment\\"/>
    <add key="Appointment.submissionurl" value="/onlineTEST/onlinesubmissions/Appointment/"/>
    
    <add key="Animals.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="Animals.emailSubject" value="New Owner / Dog Registration"></add>
    <add key="Animals.submissionpath" value="c:\\inetpub\\OnlineTEST\\onlineSubmissions\\Animals\\"></add>
    <add key="Animals.submissionurl" value="/onlineTEST/onlinesubmissions/Animals"></add>

    <add key="RatesbyEmail.emailBCC" value="greg.tichbon@whanganui.govt.nz"></add>
    <add key="RatesbyEmail.emailSubject" value="Rates by Email Request"></add>
    <add key="RatesbyEmail.submissionpath" value="c:\\inetpub\\OnlineTEST\\onlineSubmissions\\RatesbyEmail\\"></add>
    <add key="RatesbyEmail.submissionurl" value="/onlineTEST/onlinesubmissions/RatesbyEmail"></add>

    <add key="Logfile.Location" value="\\\\local\\systemdatadfs$\\redirected\\gregt\\my documents\\visual studio 2013\\Projects\\Online\\Online\\Logs\\log.txt"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-NZ" uiCulture="en"/>
    <httpRuntime maxRequestLength="102400" targetFramework="4.5" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <customErrors mode="On" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>